.modal {
  background: #F5F9FF; /* Couleur de fond */
  padding: 30px; /* Augmenter le padding */
  border-radius: 12px; /* Augmenter le rayon de la bordure */
  max-width: 800px; /* Augmenter la largeur maximale */
  max-height: 80vh; /* Augmenter la hauteur maximale (par exemple 80% de la vue) */
  margin: auto;
  outline: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modalButton1 {
  background-color: transparent;
  border: none;
}

.modalButton2 {
  border-radius: 20px;
  background-color: #2B466C;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin: 0; 
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}



.inputField {
  display: flex;
  align-items: center; // Alignement vertical des éléments dans le champ
  margin-right: 10px; // Espace entre chaque champ
}

.inputField input,
.inputField select {
  width: 100%; /* Remplir la largeur disponible */
  padding: 10px; /* Espacement interne */
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  outline: none; /* Supprimer la bordure bleue lorsque l'élément est sélectionné */
}

.inputField select {
  background-color: #F5F9FF; /* Couleur de fond */
}

.inputField select option {
  background-color: #fff; /* Couleur de fond des options */
}

.inputField select option:hover {
  background-color: #F5F9FF; /* Couleur de fond au survol */
}

.inputField input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  /* Couleur de fond du calendrier */
  background-color: #F5F9FF;
}

/* Pour colorer la flèche du calendrier */
.inputField input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%); /* Inverse la couleur */
}

/* Pour colorer le bouton de rotation du calendrier (flèche) */
.inputField input[type="date"]::-webkit-inner-spin-button {
  filter: invert(50%); /* Inverse la couleur */
}



.formContainer1 {
  margin-bottom: 50px;
}

/* Afficher la liste des options en dessous du select */
.inputField select {
  position: relative;
}

.inputField select option {
  position: absolute;
  top: 100%;
}


.formContainer2 {
  background-color: #F5F9FF;
  width: 100vw;}


.formContainer2 h2 {
  font-family: Montserrat;
  font-size: 23px;
  text-align: left;
  color: #0A2142; /* Couleur du texte en bleu */
  position: relative; /* Position relative pour le positionnement du trait */
}

.formContainer2 h2::after {
  content: ''; /* Ajout d'un contenu pour créer la ligne */
  position: absolute; /* Position absolue pour positionner la ligne */
  bottom: -4px; /* Décaler la ligne vers le bas */
  left: 0; /* Aligner la ligne à gauche */
  width: 180px; /* Largeur de la ligne */
  height: 3px; /* Hauteur de la ligne */
  background-color: #82ABE7; /* Couleur de la ligne en bleu */
}



.recordsContainer {
  display: flex; /* Utilisation de flexbox pour disposer les enregistrements en colonne */
  flex-direction: column; /* Affichage en colonne des enregistrements */
  background-size: 100%;
  background-color: #F5F9FF;
  overflow-x: auto;
}

.record {
  border-radius: 8px;
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer; /* Changement du curseur pour indiquer que l'enregistrement est cliquable */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  pointer-events: auto; /* Réactivation du pointage */
  margin: 20px; /* Ajouter une marge pour agrandir l'arrière-plan */
  width: 700px;
  overflow: hidden; 

  &:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}



.recordField {
  flex: 1; /* Distribution équitable de l'espace disponible pour chaque champ */
  padding: 8px; /* Espacement interne des champs */
  display: flex; /* Utiliser Flexbox */
  align-items: center; /* Centrer verticalement le contenu */
}

.fileLink {
  text-decoration: underline; /* Soulignement du lien */
  color: red; /* Couleur du lien */
  cursor: pointer; /* Curseur indiquant que le lien est cliquable */
}





/* Style pour le titre */
.inlineField h3 {
  margin-right: 10px;
  white-space: nowrap;
}

.inputField h3 {
  color: #002920;
  font-family: 'Montserrat', sans-serif;
}


/* Style pour les barres de saisie */
.inputField input[type="text1"] {
  width: 708px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: start;
  display: flex;
  justify-content: center;
}

.inputField input[type="text2"] {
  width: 700px;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: start;
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 200px;
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si le contenu dépasse la largeur */

}

.inputContainer2 {
  width: 700px;
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si le contenu dépasse la largeur */
}

.OffreTitle {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  width: 60px;
}
.ShortDescription {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  width: 10px;
}


:global {
  .backgroundSVG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.iconSpace {
  margin-right: 10px;
}
.uploadButton {
  border-radius: 20px;
  background-color: #B5D3FF;
  color: #0A2142;
  border: none;
  padding: 10px 20px;
  margin: 0; /* Réinitialise la marge à zéro */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}

.recordsTitle{
  color: #0A2142;
  border-bottom: 2px solid #82ABE7;
  width: 185px;
  font-weight: bold;

}

.recordField:nth-child(1),
.recordField:nth-child(3),
.recordField:nth-child(4) {
  font-weight: bold; /* Met la troisième colonne (date) en gras */
  color: #0A2142;
}

.button {
  border-radius: 20px;
  background-color: #2B466C;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin: 0; /* Réinitialise la marge à zéro */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #9EBBE3;
}









